p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}


.thumbnail {
    width: 100%;
    border-radius: 15px;
}
.search-bar {
    font-size: 20px;
    margin-left: 0px;
    display: block;
    margin-bottom: 30px;
}
.video-title {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.creator,
.video-info {
    display: block;
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.creator {
    margin-bottom: 7px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 55px;

}

.preview {
    width: 1fr;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.profile {
    vertical-align: top;
    margin-top: 20px;
    
}

.video-text {
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.pfp {
    width: 85%;
    border-radius: 32px;
}