
    p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(96, 96, 96);
    margin-top: 0px;
    margin-bottom: 0px; }
    .video-title {
        font-weight: bold;
        font-size: 18px;
        width: 300px;
        line-height: 24px;
        margin-bottom: 12px;
        color: black; }
    .video-stats {
        font-size: 14px;
        margin-bottom: 20px; }
    .creator {
        font-size: 14px;
        margin-bottom: 20px; }
    .description {
        font-size: 14px;
        width: 250px;
        line-height: 22px;
        margin-bottom: 20px; }
    .apple-text {
        font-size: 14px;
        background-color: crimson;
        color: white;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }   
    .shop {
        cursor: pointer;
        margin-left: 8px;
        width: 300px;
    }
    .shop:hover {
        text-decoration: underline;

    }
