












.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    background-color: white;
    width: 110px;

    
}

.home-icon, .explore-icon, .subscriptions-icon, .originals-icon, .youtube-music-icon, .library-icon {
    height: 32px;
    margin-bottom: 5px;
    margin-top: 22px;
}

.home-container, .explore-container, .subscriptions-container, .originals-container, .youtube-music-container, .library-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.home-container:hover, .explore-container:hover, .subscriptions-container:hover, .originals-container:hover, .youtube-music-container:hover, .library-container:hover {
    background-color: rgb(232, 232, 232);
}